{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@pages": "./pages",
          "@reducers": "./reducers",
          "@components": "./components",
          "@resources": "./resources",
          "@utils": "./utils",
          "@config": "./config"
        }
      }
    ]
  ]
}
//
